.footerSig {
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 130px;
    background-color: #004384;
    border-top: 4px solid #f7941d;
    background-image: linear-gradient(to top, #003466, #004384);  
}

.footerSig p {
    color: #ffffff;
}

.alert {
    padding: 0px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 0;
}

#contentBox {
    margin-right: 0px !important;
    margin-left: 0px !important;
    min-width: 703px;
}

#contentRow
{
    padding-top:0px !important;
}

.informativo-acumulado {
    padding: 0px 35px;
    margin-bottom: 15px;
}
.white-text {
    color: #FFF;
}