.footerSig {
    position: absolute;
    width: 98.7%;
    /* Set the fixed height of the footer here */
    height: 130px;
    background-color: #004384;
    border-top: 4px solid #f7941d;
    background-image: linear-gradient(to top, #003466, #004384);  
}
